body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    background-image: url(../img/bg.png);
    
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: auto;
}

#col1 {
    margin-top: 58px;
    margin-right: 10px;
    float: left;
    width: 45%;
}

#col2 {
    margin-top: 58px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    width: 45%;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #48c7ec;
    font-size: 15px;
}

p{
    text-align: justify;
}

img {
    float: left;
    width: 50%;
    padding-right: 20px;
}

ul {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: italic;
    list-style-position: inside;
    
}

a:link {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    color: #48c7ec;
    text-decoration: underline;
}
 
footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    text-align: center;
    padding: 5px;
    color: #ffffff;
    height: auto;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Mobile */
@media only screen and (min-width: 480px) {}
/* Intermediate */
@media only screen and (min-width: 768px) {}
/* Wide */
@media only screen and (min-width: 1140px) {}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}